.reservation {
  background: #050505;
  color: white;
  padding: 100px 20px;
  font-family: sans-serif;
}

.reservationContainer {
  max-width: 1300px;
  margin: auto;
}

.reservationTitle {
  text-align: center;
  margin-bottom: 60px;
}

.reservationTitle p {
  color: #d4af37;
  letter-spacing: 6px;
  margin-bottom: 10px;
}

.reservationTitle h2 {
  font-size: 52px;
  color: #d4af37;
  margin-bottom: 10px;
}

.reservationTitle span {
  color: #999;
  font-size: 18px;
}

.reservationSubtitle {
  color: #d4af37;
  letter-spacing: 6px;
  margin-bottom: 10px;
}

.reservationContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.reservationImage img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  border-radius: 30px;
  border: 1px solid #5a0b0b;
}

.reservationForm {
  background: #120202;
  border: 1px solid #5a0b0b;
  border-radius: 30px;
  padding: 40px;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.formGrid div {
  display: flex;
  flex-direction: column;
}

.reservationForm label {
  margin-bottom: 10px;
  color: #aaa;
}

.reservationForm input,
.reservationForm select,
.reservationForm textarea {
  background: #1b0707;
  border: 1px solid #3b0c0c;
  color: white;
  padding: 16px;
  border-radius: 14px;
  outline: none;
  font-size: 16px;
}

.reservationForm input:focus,
.reservationForm select:focus,
.reservationForm textarea:focus {
  border-color: #d4af37;
}

.reservationForm button {
  width: 100%;
  margin-top: 20px;
  padding: 18px;
  border: none;
  border-radius: 14px;
  background: linear-gradient(to right, #7a0000, #b30000);
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.reservationForm button:hover {
  transform: scale(1.02);
}

.reservationFooter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 80px;
  border-top: 1px solid #2a0a0a;
  padding-top: 40px;
}

.reservationFooter h3 {
  font-size: 38px;
  color: #d4af37;
  margin-bottom: 10px;
}

.reservationFooter h4 {
  color: #d4af37;
  margin-bottom: 16px;
}

.reservationFooter p {
  color: #999;
  margin-bottom: 10px;
}

.mapBox {
  height: 150px;
  border-radius: 20px;
  background: #1b0707;
  border: 1px solid #3b0c0c;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
}

@media (max-width: 900px) {
  .reservationContent {
    grid-template-columns: 1fr;
  }

  .formGrid {
    grid-template-columns: 1fr;
  }

  .reservationFooter {
    grid-template-columns: 1fr;
  }

  .reservationTitle h2 {
    font-size: 38px;
  }
}